Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

Ans:

In [1]:
a=("rash",[1,2,3,4], 45.61,(1,5,"book", 24.64))

In [3]:
type("rash")

str

In [4]:
type([1,2,3,4])

list

In [5]:
type(45.61)

float

In [6]:
type((1,5,"book", 24.64))

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

Ans

In [7]:
var1='Book'

In [8]:
type(var1)

str

In [11]:
var2 = '[ DS , ML , Python]'

In [12]:
type(var2)

str

In [15]:
var3=[ 'DS' , 'ML' , 'Python' ]

In [16]:
type(var3)

list

In [17]:
var4=1.

In [18]:
type(var4)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

Ans

In [19]:
a=8
b=2
#division
print('Division;',a/b)

Division; 4.0

In [20]:
a=8
b=2
#Modulo
print('Modulo;',a%b)

Modulo; 0

In [21]:
a=8
b=2
#floor division
print('Floor Division;',a//b)

Floor Division; 4

In [22]:
a=8
b=2
#a to the power b
print('Power;',a**b)

Power; 64

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [23]:
l=[1,2,3,"home",56.91,6,9,"time",62.24,10]

for i in l:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
home
<class 'str'>
56.91
<class 'float'>
6
<class 'int'>
9
<class 'int'>
time
<class 'str'>
62.24
<class 'float'>
10
<class 'int'>

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [26]:
data_list=[]
for i in range (1,26):
    data_list.append(i)
for num in data_list:
    if num%3==0:
        print(f'{num} is divisible by 3.')
    else:
         print(f'{num} is not divisible by 3.')

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.
25 is not divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Ans:Immutable datatypes
Immutable datatypes are objects that cannot be modified or altered after they have been created (for example, by adding new elements, removing elements, or replacing elements). Python's immutable data types are:

Int

Float

Tuple

Complex

String

Stringfrozen set [note: immutable version of the set]

Bytes

Mutable Data Types

In mutable data types, we can modify the already existing values of the data types (such as lists, dictionaries, etc.). Or, we may add new values or remove the existing values from our data types. Basically, we may perform any operation with our data without having to create a new copy of our data type. Hence, the value assigned to any variable can be changed.

In [27]:
# Python code to test that
# tuples are immutable
   
tuple1 = (0, 1, 2, 3)
tuple1[0] = 4
print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [28]:
# Python code to test that
# lists are mutable
color = ["White", "Grey", "Green"]
print(color)
 
color[0] = "Yellow"
color[-1] = "Purple"
print(color)

['White', 'Grey', 'Green']
['Yellow', 'Grey', 'Purple']